/* Formatação do Form */
.format{
    border:solid 5px rgba(47, 79, 79, 0.8);
    padding: 5px;
    text-align:justify;
    background-color: #effcfc;
    width: 678px; 
    position: relative; 
    left: 50%; 
    margin-left: -500px; 
}

/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    color: #000000;
    text-align:center;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #000000;
    text-align:center;
} 

#check{
    display: inline-block;
}

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
}

/* Elemento de tag <body> */
body{
    background-color: #95a2f1;
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    margin-left: 22%;
    margin-top: 2%;
    justify-content: center;
    background-image: url("http://localhost/Vaccination_Form/IMAGENS/vacina_c19.jpg");
}

/* Elementos de tags <body>, <input>, <Select>, <button> */
input, select,button {
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 8px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #000000;
    display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> todas com estado da pseudoclasse "focus"*/
/* Pseudoclasse (Focus) deixa a caixa de seleção com uma cor diferenciada quando estiver ativa*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

/* Elemento de classe "botao1" */
.botao1 {
    font-size: 1.5em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 105%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao2" */
.botao2 {
    font-size: 1.5em;
    background: #9d4242;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 105%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao3" */
.botao3 {
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    position: absolute;
    top: 6%;
    left: 110%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
/* Pseudoclasse (hover) deixa uma cor diferenciada quando o mouse está sobre o botão*/
.botao1:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao2:hover {
    background: #ffbbbb;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
/* Cursor do mouse fica do tipo pointer quando está em frente ao botão*/
.botao1, select{
    cursor: pointer;
}

.botao2, select{
    cursor: pointer;
}
